body{
    background-image: url("floor.jpg");
}


.jumbotron{
background: ;
    margin: 10%;
}


#gifshere{

    margin: 5%;
}


.display-4{
    background-image: url("head.jpg");
    background-repeat: round;
    text-align: center;
    color: white;
    border-bottom: 3px solid red;
    border-top: 3px solid blue;
    border-left: solid 3px blue;
    border-right: solid 3px red;


    
}

#icon{
    width: 15%;
    height: 15%;
}
.team{
    padding: 10px;
    margin: 5px;
}
.teamgif{
    margin: 25px;
    float: left;
}